.team-body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.social-media-logo{
    width: 30px;
    border-radius: 50%;
    padding-bottom: 60px;
    justify-content: space-evenly
}