#slide1{
    /* background-image: url('../../../assets/images/banner/1.jpg'); */
}

.btn-latestProject{
    color: white;
    /* border: none; */
}
.btn-latestProject:hover{
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.btn-discoverMore{
    color: white;
    background-color: orangered;   
    border: none;
}
.btn-discoverMore:hover{
    color: orangered;
    background-color: white;
    border: none;
}
